{% extends "gis/base.html" %}

{% block title %}
    HOME
{% endblock %}

{% block content %}
    <h1>Articles</h1>
    {% for article in articles %}
        <h3>{% comment %}{{article.title}}{% endcomment %}</h3>
        <h3><a href="{% url 'article' article.id %}">{{ article.title }}</a></h3>
        <p>{{article.short_text}}</p>
        <p>{% comment %}{{article.text}} {% endcomment %}</p>
    {% endfor %}
    <!--<div class="starter-template">
        <h3>Bootstrap starter template</h3>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>-->
{% endblock %}

